.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: #65C8D6;
    width: 100%;
}
.logo {
    padding: 2%;
}
nav {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
nav ul {
    display: inline-block;
    margin-left: auto;
    list-style: none;
}
.heroImg {
    min-height: 400px;
    padding: 20px;
}
.content {
    margin: 0 auto;
    text-align: center;
}
footer {
    background-color: #3C4048;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
}
li {
    display: inline-block;
    padding: 10px;
}
.heroImg img {
    transform: scaleX(-1);
    max-width: 1000px;
}
.content button {
    font-size: x-large;
    padding: 20px;
    background-color: #65C8D6;
    color: white;
    border: white;
}
h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C4048;
}
p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C4048;
}
.flexContainer {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 20px;
}
h3 {
    background-color: #65C8D6;
    padding: 10px;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.workGrid {
    display: grid;
    grid-template-areas: "nsa collectively portfolio";
    grid-template-columns: 33% 33% 33%;
}
.item1 {
    grid-area: nsa;
    font-size: 30px;
    text-align: center;
    color: #3C4048;    
    font-family: Arial, Helvetica, sans-serif;
  }
  .item2 {
    grid-area: collectively;
    font-size: 30px;
    text-align: center;
    color: #3C4048;    
    font-family: Arial, Helvetica, sans-serif;
  }
  .item3 {
    grid-area: portfolio;
    font-size: 30px;
    text-align: center;
    color: #3C4048;    
    font-family: Arial, Helvetica, sans-serif;
  }
section {
    margin: 20px;
    min-height: 700px;
}
button {
    font-size: x-large;
    padding: 20px;
    background-color: #65C8D6;
    color: white;
    border: white;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridItem img {
    box-shadow: 10px 10px 15px #7d7d7e;
}

@media only screen and (max-width: 600px) {
    .flexContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        column-gap: 20px;
    }
    .workGrid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nsa"
        "collectively"
        "portfolio";
    }
}